.tag {
  padding: 0.15rem 0.25rem;
  border-radius: 0.15rem;
  background-color: var(--lavender-500);
  color: var(--white);
  font-size: 0.4rem;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.2s;
}

.tag:hover {
  background-color: var(--lavender-700);
}
