@import "./reset.css";
@import "./font.css";
@import "@puzzlepop2/themes/themes.css";
@import "@puzzlepop2/react-components-layout/style.css";
@import "@puzzlepop2/react-components-button/style.css";
@import "@puzzlepop2/react-hooks-alert/style.css";

/* lottie를 위한 임시코드 */
#puzzle-lottie rect {
  fill: transparent;
}

.hover-grow {
  transition: transform 0.2s ease-in-out;
}
.hover-grow:hover {
  transform: scale(1.05);
}
