@import "./reset.css";
@import "./font.css";
@import "./foundation/typography.css";
@import "./foundation/button.css";

:root {
  --background-zindex: -10;
  --dimmed-zindex: 10;
  --alert-zindex: 11;
}

/* lottie를 위한 임시코드 */
#puzzle-lottie rect {
  fill: transparent;
}
