.baseButton {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  outline: none;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.isSelected,
.shadow:hover,
.shadow:focus,
.shadow:active {
  background-color: rgba(0, 0, 0, 0.7);
}
